# Import dataset
---

In [1]:
# Import packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
from io import StringIO
from io import BytesIO
from zipfile import ZipFile
import urllib.request

## Function to obtain data set from zip link

In [3]:
def zip2df(link):
    # Open the url link
    url = urllib.request.urlopen(link)
    
    # Open as zip file
    with ZipFile(BytesIO(url.read())) as my_zip_file:
        for contained_file in my_zip_file.namelist():
            fzip=my_zip_file.open(contained_file)
            print(contained_file)
            data=fzip.read()
    # Convert bytes object to string object
    s=str(data,'utf-8')
    data = StringIO(s) 
    # convert it to pandas DataFrame as normal csv file
    df=pd.read_csv(data)
    return df

## Crash data

In [4]:
link_crash='https://github.com/duonghung86/Fatality-crashes/raw/master/Data/extract_2018_20191217230653_crash_20190601-20191130Texas.zip'
df_crash=zip2df(link_crash)
df_crash.tail()

extract_2018_20191217230653_crash_20190601-20191130Texas.csv

C:\Anaconda\envs\tf\lib\site-packages\IPython\core\interactiveshell.py:3254: DtypeWarning: Columns (20,35,44,46,82,86,90,93,156,157) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
324112,17460951,N,N,N,N,N,N,N,11/28/2019,12:48 PM,...,0,0,1,0,0,0,NaN,1.0,8.0,NaN
324113,17460958,N,N,N,N,N,N,N,11/29/2019,02:57 AM,...,0,0,1,0,0,0,NaN,NaN,NaN,NaN
324114,17460970,N,N,N,N,N,N,N,11/29/2019,11:13 AM,...,0,0,1,0,0,0,NaN,485.0,321.0,NaN
324115,17461030,N,N,N,N,N,N,N,11/25/2019,11:06 AM,...,0,1,1,0,1,0,NaN,23.0,NaN,NaN
324116,17461292,N,N,N,N,N,N,N,09/03/2019,04:15 PM,...,0,0,2,0,0,0,NaN,NaN,NaN,NaN

## Person data

In [5]:
link_person='https://github.com/duonghung86/Fatality-crashes/raw/master/Data/extract_2018_20191217230653_primaryperson_20190601-20191130Texas.zip'
df_person=zip2df(link_person)
df_person.tail()

extract_2018_20191217230653_primaryperson_20190601-20191130Texas.csv

,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Name_Honorific,Prsn_Last_Name,Prsn_First_Name,Prsn_Mid_Name,Prsn_Name_Sfx,...,Drvr_Lic_Cls_ID,Drvr_DOB,Drvr_Street_Nbr,Drvr_Street_Pfx,Drvr_Street_Name,Drvr_Street_Sfx,Drvr_Apt_Nbr,Drvr_City_Name,Drvr_State_ID,Drvr_Zip
597978,17460970,1,1,1,1,NaN,MASSEY,WILLIAM,DOYLE,NaN,...,1.0,12/02/1950,817,N,PARK,AVE,NaN,KARNES CITY,43.0,78118
597979,17461030,1,1,1,1,NaN,MATTHYS,JASON,DONALD,NaN,...,3.0,10/01/1975,1055,W,FM 2625,NaN,NaN,MARSHALL,43.0,75672
597980,17461030,2,1,1,1,NaN,BOWSER,SHERRYE,ANN,NaN,...,3.0,11/24/1962,206,W,BROADWAY,ST,NaN,JEFFERSON,43.0,75657
597981,17461292,1,1,1,1,NaN,REED,HALEIGH,MACLAY,NaN,...,3.0,11/26/2002,869,NaN,PORTERVILLE,RD,NaN,HUNTINGTON,43.0,NaN
597982,17461292,2,1,1,1,NaN,TURNER,LANCE,MATTHEW,NaN,...,3.0,06/16/2003,8930,E,STATE HIGHWAY 103,NaN,NaN,LUFKIN,43.0,NaN

## Unit data

In [6]:
link_unit='https://github.com/duonghung86/Fatality-crashes/raw/master/Data/extract_2018_20191217230653_unit_20190601-20191130Texas.zip'
df_unit=zip2df(link_unit)
df_unit.tail()

extract_2018_20191217230653_unit_20190601-20191130Texas.csv

C:\Anaconda\envs\tf\lib\site-packages\IPython\core\interactiveshell.py:3254: DtypeWarning: Columns (57) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Crash_ID,Unit_Nbr,Unit_Desc_ID,Veh_Parked_Fl,Veh_HNR_Fl,Veh_Lic_State_ID,Veh_Lic_Plate_Nbr,VIN,Veh_Mod_Year,Veh_Color_ID,...,Tot_Injry_Cnt,Death_Cnt,Cmv_Disabling_Damage_Fl,Cmv_Bus_Type_ID,Trlr_GVWR,Trlr_RGVW,Trlr_Type_ID,Trlr_Disabling_Dmag_ID,Cmv_Intermodal_Container_Permit_Fl,CMV_Actual_Gross_Weight
654537,17460970,1,1,N,N,43.0,MDD3540,1FTEW1CPXKKD89353,2019.0,99.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654538,17461030,1,1,N,N,43.0,MKH5765,1G2ZJ57B894263596,2009.0,9.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654539,17461030,2,1,N,N,43.0,HDZ4147,5YFBU4EE8DP143573,2013.0,2.0,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654540,17461292,1,1,N,N,43.0,FSG1989,2GNALBEK1C6316947,2012.0,18.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654541,17461292,2,1,N,N,43.0,AU70090,2GCEK19T641183157,2004.0,18.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Features filtering

## Person data

In [7]:
df_person.shape

(597983, 49)

In [8]:
# Percentage of missing values for each feature
mvr=df_person.isna().sum()/len(df_person.Crash_ID)
valid_feat=mvr[mvr<0.2].index
print(len(valid_feat))
valid_feat

36

Index(['Crash_ID', 'Unit_Nbr', 'Prsn_Nbr', 'Prsn_Type_ID',
       'Prsn_Occpnt_Pos_ID', 'Prsn_Last_Name', 'Prsn_First_Name',
       'Prsn_Injry_Sev_ID', 'Prsn_Age', 'Prsn_Ethnicity_ID', 'Prsn_Gndr_ID',
       'Prsn_Ejct_ID', 'Prsn_Rest_ID', 'Prsn_Airbag_ID', 'Prsn_Helmet_ID',
       'Prsn_Sol_Fl', 'Prsn_Alc_Spec_Type_ID', 'Prsn_Drg_Spec_Type_ID',
       'Prsn_Drg_Rslt_ID', 'Drvr_Drg_Cat_1_ID', 'Sus_Serious_Injry_Cnt',
       'Nonincap_Injry_Cnt', 'Poss_Injry_Cnt', 'Non_Injry_Cnt',
       'Unkn_Injry_Cnt', 'Tot_Injry_Cnt', 'Death_Cnt', 'Drvr_Lic_Type_ID',
       'Drvr_Lic_State_ID', 'Drvr_Lic_Number', 'Drvr_Lic_Cls_ID', 'Drvr_DOB',
       'Drvr_Street_Name', 'Drvr_City_Name', 'Drvr_State_ID', 'Drvr_Zip'],
      dtype='object')

In [9]:
df_person=df_person[valid_feat].copy()
df_person.head()

,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Last_Name,Prsn_First_Name,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,...,Death_Cnt,Drvr_Lic_Type_ID,Drvr_Lic_State_ID,Drvr_Lic_Number,Drvr_Lic_Cls_ID,Drvr_DOB,Drvr_Street_Name,Drvr_City_Name,Drvr_State_ID,Drvr_Zip
0,15657177,1,1,1,1,RAMOS,ISAAC,0,16.0,2.0,...,0,9.0,43.0,13174627,3.0,NaN,FM 56,GLEN ROSE TX,43.0,76043
1,16473665,1,1,1,1,ADAMS,CHARLES,5,48.0,1.0,...,0,9.0,43.0,14022783,7.0,07/07/1970,Cemetary,Silsbee,43.0,77656
2,16473665,2,1,1,1,JOHNNIE,PAMELA,2,58.0,1.0,...,0,9.0,43.0,09872112,3.0,06/06/1961,McMillian,Kirbyville,43.0,75956
3,16871051,1,1,1,1,MILLER,JACKIE,5,68.0,1.0,...,0,9.0,43.0,01225977,1.0,09/22/1950,6168 CR 988,COLLIN COUNTY,43.0,75071
4,16871051,3,1,1,1,FEDERLE,LINDA,5,67.0,1.0,...,0,9.0,43.0,09215492,3.0,09/27/1951,1261 ALTO VISTA,FAIRVIEW,43.0,75069

In [10]:
keeps=['Crash_ID', 'Unit_Nbr', 'Prsn_Nbr', 'Prsn_Type_ID',
       'Prsn_Occpnt_Pos_ID', 
       'Prsn_Injry_Sev_ID', 'Prsn_Age', 'Prsn_Ethnicity_ID', 'Prsn_Gndr_ID',
       'Prsn_Ejct_ID', 'Prsn_Rest_ID', 'Prsn_Airbag_ID', 'Prsn_Helmet_ID']
df_person=df_person[keeps].copy()
df_person.head()

,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,Prsn_Rest_ID,Prsn_Airbag_ID,Prsn_Helmet_ID
0,15657177,1,1,1,1,0,16.0,2.0,1,1,1,8,97
1,16473665,1,1,1,1,5,48.0,1.0,1,1,1,2,97
2,16473665,2,1,1,1,2,58.0,1.0,2,1,1,3,97
3,16871051,1,1,1,1,5,68.0,1.0,1,1,1,2,97
4,16871051,3,1,1,1,5,67.0,1.0,2,1,1,4,97

In [11]:
df_final=df_person.copy()

## Crash data

In [12]:
df_crash.shape

(324117, 173)

In [13]:
# Percentage of missing values for each feature
mvr=df_crash.isna().sum()/len(df_crash.Crash_ID)
valid_feat=mvr[mvr<0.2].index
print(len(valid_feat))
valid_feat

74

Index(['Crash_ID', 'Crash_Fatal_Fl', 'Cmv_Involv_Fl', 'Schl_Bus_Fl',
       'Rr_Relat_Fl', 'Medical_Advisory_Fl', 'Amend_Supp_Fl',
       'Active_School_Zone_Fl', 'Crash_Date', 'Crash_Time', 'Case_ID',
       'Rpt_CRIS_Cnty_ID', 'Rpt_City_ID', 'Rpt_Outside_City_Limit_Fl',
       'Thousand_Damage_Fl', 'Rpt_Rdwy_Sys_ID', 'Rpt_Road_Part_ID',
       'Rpt_Block_Num', 'Rpt_Street_Name', 'Private_Dr_Fl', 'Toll_Road_Fl',
       'Crash_Speed_Limit', 'Road_Constr_Zone_Fl', 'Road_Constr_Zone_Wrkr_Fl',
       'At_Intrsct_Fl', 'Rpt_Sec_Rdwy_Sys_ID', 'Rpt_Sec_Road_Part_ID',
       'Rpt_Sec_Street_Name', 'Wthr_Cond_ID', 'Light_Cond_ID', 'Entr_Road_ID',
       'Road_Algn_ID', 'Surf_Cond_ID', 'Traffic_Cntl_ID',
       'Investigat_Notify_Time', 'Investigat_Notify_Meth',
       'Investigat_Arrv_Time', 'Report_Date', 'Investigat_Comp_Fl',
       'Investigator_Name', 'ID_Number', 'ORI_Number', 'Investigat_Agency_ID',
       'Bridge_Detail_ID', 'Harm_Evnt_ID', 'Intrsct_Relat_ID', 'FHE_Collsn_ID',
       'Obj_Struck_ID', 'Othr_Factr_ID', 'Road_Part_Adj_ID', 'Road_Cls_ID',
       'Road_Relat_ID', 'Phys_Featr_1_ID', 'Phys_Featr_2_ID', 'Cnty_ID',
       'City_ID', 'Latitude', 'Longitude', 'Street_Name', 'Txdot_Rptable_Fl',
       'Onsys_Fl', 'Rural_Fl', 'Crash_Sev_ID', 'Pop_Group_ID', 'Located_Fl',
       'Day_of_Week', 'Sus_Serious_Injry_Cnt', 'Nonincap_Injry_Cnt',
       'Poss_Injry_Cnt', 'Non_Injry_Cnt', 'Unkn_Injry_Cnt', 'Tot_Injry_Cnt',
       'Death_Cnt', 'Investigat_Service_ID'],
      dtype='object')

In [14]:
keepsc=['Crash_ID', 'Crash_Date', 'Crash_Time','Day_of_Week', 
       'Rpt_Rdwy_Sys_ID', 'Rpt_Road_Part_ID', 'Toll_Road_Fl', 'Crash_Speed_Limit',
       'Road_Constr_Zone_Fl', 'Road_Constr_Zone_Wrkr_Fl', 'At_Intrsct_Fl',
       'Wthr_Cond_ID', 'Light_Cond_ID', 
       'Road_Algn_ID', 'Surf_Cond_ID', 'Traffic_Cntl_ID','Latitude', 'Longitude'
       ]

In [15]:
df_crash=df_crash[keepsc].copy()
df_crash.head()

,Crash_ID,Crash_Date,Crash_Time,Day_of_Week,Rpt_Rdwy_Sys_ID,Rpt_Road_Part_ID,Toll_Road_Fl,Crash_Speed_Limit,Road_Constr_Zone_Fl,Road_Constr_Zone_Wrkr_Fl,At_Intrsct_Fl,Wthr_Cond_ID,Light_Cond_ID,Road_Algn_ID,Surf_Cond_ID,Traffic_Cntl_ID,Latitude,Longitude
0,15657177,06/02/2019,12:58 PM,SUN,15,1,N,40,N,N,N,11,4,4,1,1,32.280231,-97.746616
1,16473665,06/15/2019,11:00 AM,SAT,2,1,N,35,N,N,Y,11,1,3,1,5,30.660685,-93.893906
2,16871051,06/12/2019,09:53 AM,WED,2,1,N,45,N,N,N,11,1,1,1,20,33.203920,-96.596654
3,17055798,06/04/2019,03:07 PM,TUE,19,1,N,35,N,N,N,12,1,2,1,10,29.792394,-95.746539
4,17099571,06/01/2019,01:00 AM,SAT,19,1,N,30,N,N,N,11,3,1,1,11,32.797549,-96.699878

In [16]:
df_final=df_final.merge(df_crash,left_on='Crash_ID', right_on='Crash_ID')
df_final.tail()

,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,...,Road_Constr_Zone_Fl,Road_Constr_Zone_Wrkr_Fl,At_Intrsct_Fl,Wthr_Cond_ID,Light_Cond_ID,Road_Algn_ID,Surf_Cond_ID,Traffic_Cntl_ID,Latitude,Longitude
597978,17460970,1,1,1,1,5,68.0,1.0,1,1,...,N,N,N,11,6,1,0,1,28.954878,-97.987513
597979,17461030,1,1,1,1,5,44.0,1.0,1,1,...,N,N,N,11,1,1,1,8,32.756880,-94.354907
597980,17461030,2,1,1,1,3,57.0,3.0,2,1,...,N,N,N,11,1,1,1,8,32.756880,-94.354907
597981,17461292,1,1,1,1,5,16.0,1.0,2,1,...,N,N,Y,11,1,1,1,8,31.279209,-94.579816
597982,17461292,2,1,1,1,5,16.0,1.0,1,1,...,N,N,Y,11,1,1,1,8,31.279209,-94.579816

## Unit data

In [17]:
df_unit.shape

(654542, 100)

In [18]:
# Percentage of missing values for each feature
mvr=df_unit.isna().sum()/len(df_unit.Crash_ID)
valid_feat=mvr[mvr<0.01].index
print(len(valid_feat))
valid_feat

12

Index(['Crash_ID', 'Unit_Nbr', 'Unit_Desc_ID', 'Veh_Trvl_Dir_ID',
       'First_Harm_Evt_Inv_ID', 'Sus_Serious_Injry_Cnt', 'Nonincap_Injry_Cnt',
       'Poss_Injry_Cnt', 'Non_Injry_Cnt', 'Unkn_Injry_Cnt', 'Tot_Injry_Cnt',
       'Death_Cnt'],
      dtype='object')

In [19]:
keepsu=['Crash_ID', 'Unit_Nbr', 'Unit_Desc_ID']

In [20]:
df_unit=df_unit[keepsu].copy()
df_unit.head()

   Crash_ID  Unit_Nbr  Unit_Desc_ID
0  15657177         1             1
1  16473665         1             1
2  16473665         2             1
3  16871051         1             1
4  16871051         2             6

In [21]:
df_final=df_final.merge(df_unit,left_on=['Crash_ID', 'Unit_Nbr'], right_on=['Crash_ID', 'Unit_Nbr'])
print(df_final.shape)
df_final.tail()

(597983, 31)

,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,...,Road_Constr_Zone_Wrkr_Fl,At_Intrsct_Fl,Wthr_Cond_ID,Light_Cond_ID,Road_Algn_ID,Surf_Cond_ID,Traffic_Cntl_ID,Latitude,Longitude,Unit_Desc_ID
597978,17460970,1,1,1,1,5,68.0,1.0,1,1,...,N,N,11,6,1,0,1,28.954878,-97.987513,1
597979,17461030,1,1,1,1,5,44.0,1.0,1,1,...,N,N,11,1,1,1,8,32.756880,-94.354907,1
597980,17461030,2,1,1,1,3,57.0,3.0,2,1,...,N,N,11,1,1,1,8,32.756880,-94.354907,1
597981,17461292,1,1,1,1,5,16.0,1.0,2,1,...,N,Y,11,1,1,1,8,31.279209,-94.579816,1
597982,17461292,2,1,1,1,5,16.0,1.0,1,1,...,N,Y,11,1,1,1,8,31.279209,-94.579816,1

In [22]:
df_final.columns

Index(['Crash_ID', 'Unit_Nbr', 'Prsn_Nbr', 'Prsn_Type_ID',
       'Prsn_Occpnt_Pos_ID', 'Prsn_Injry_Sev_ID', 'Prsn_Age',
       'Prsn_Ethnicity_ID', 'Prsn_Gndr_ID', 'Prsn_Ejct_ID', 'Prsn_Rest_ID',
       'Prsn_Airbag_ID', 'Prsn_Helmet_ID', 'Crash_Date', 'Crash_Time',
       'Day_of_Week', 'Rpt_Rdwy_Sys_ID', 'Rpt_Road_Part_ID', 'Toll_Road_Fl',
       'Crash_Speed_Limit', 'Road_Constr_Zone_Fl', 'Road_Constr_Zone_Wrkr_Fl',
       'At_Intrsct_Fl', 'Wthr_Cond_ID', 'Light_Cond_ID', 'Road_Algn_ID',
       'Surf_Cond_ID', 'Traffic_Cntl_ID', 'Latitude', 'Longitude',
       'Unit_Desc_ID'],
      dtype='object')

In [23]:
df_final.dropna(inplace=True)

# Mapping the data

## Get the list of mapping sheets

In [24]:
term_link='https://github.com/duonghung86/Fatality-crashes/raw/master/Data/Term.xlsx'
xls = pd.ExcelFile(term_link) # help reduce time when read multiple sheets
sheets=xls.sheet_names

In [25]:
# Link between feature name and its coding sheet

link_c=pd.read_excel(xls,sheet_name='Crash File Specification',header=6,usecols=['Column Header','Description','Data Values with Valid Years if Applicable'])
link_c.head()

,Column Header,Description,Data Values with Valid Years if Applicable
0,NaN,CR-3 Reported Data Fields,NaN
1,Crash_ID,Crash ID â€“ System-generated unique identifying...,NaN
2,Crash_Fatal_Fl,Fatal Crash Identifier - Indicates that the cr...,YES_NO_CHOICE_LKP
3,Cmv_Involv_Fl,CMV Crash Identifier,YES_NO_CHOICE_LKP
4,Schl_Bus_Fl,School Bus Crash Identifier - Indicates whethe...,YES_NO_CHOICE_LKP

In [26]:
# Link between feature name and its coding sheet
link_p=pd.read_excel(xls,sheet_name='PrimaryPerson File Spec.',header=5,usecols=['Column Header','Description','Data Values with Valid Years if Applicable'])
link_p.head()

,Column Header,Description,Data Values with Valid Years if Applicable
0,Crash_ID,Crash ID â€“ System-generated unique identifying...,NaN
1,Unit_Nbr,Unit number entered on crash report for a unit...,NaN
2,Prsn_Nbr,Person number captured on the crash report,NaN
3,Prsn_Type_ID,Person Type,PRSN_TYPE_LKP
4,Prsn_Occpnt_Pos_ID,"The physical location of an occupant in, on, o...",OCCPNT_POS_LKP

In [27]:
# Link between feature name and its coding sheet
link_u=pd.read_excel(xls,sheet_name='Unit File Specification',header=6,usecols=['Column Header','Description','Data Values with Valid Years if Applicable'])
link_u.head()

,Column Header,Description,Data Values with Valid Years if Applicable
0,NaN,CR-3 Reported Data Fields,NaN
1,Crash_ID,Crash ID â€“ System-generated unique identifying...,NaN
2,Unit_Nbr,Unit number entered on crash report for a unit...,NaN
3,Unit_Desc_ID,Unit Description - Describes the type of unit,VEH_UNIT_DESC_LKP
4,Veh_Parked_Fl,Parked Vehicle,YES_NO_CHOICE_LKP

In [28]:
feats=df_final.columns

In [29]:
feats.shape

(31,)

In [30]:
# Combine all link
link_sheet=pd.concat([link_p,link_c,link_u]).reset_index(drop=True)
link_sheet=link_sheet[link_sheet['Column Header'].isin(feats)].reset_index(drop=True)
link_sheet

,Column Header,Description,Data Values with Valid Years if Applicable
0,Crash_ID,Crash ID â€“ System-generated unique identifying...,NaN
1,Unit_Nbr,Unit number entered on crash report for a unit...,NaN
2,Prsn_Nbr,Person number captured on the crash report,NaN
3,Prsn_Type_ID,Person Type,PRSN_TYPE_LKP
4,Prsn_Occpnt_Pos_ID,"The physical location of an occupant in, on, o...",OCCPNT_POS_LKP
5,Prsn_Injry_Sev_ID,Severity of injury to the occupant,INJRY_SEV_LKP
6,Prsn_Age,Age of person involved in the crash,NaN
7,Prsn_Ethnicity_ID,Ethnicity of person involved in the crash,DRVR_ETHNCTY_LKP
8,Prsn_Gndr_ID,Gender of person involved in the crash,GNDR_LKP
9,Prsn_Ejct_ID,The extent to which the person's body was expe...,EJCT_LKP
10,Prsn_Rest_ID,The type of restraint used by each occupant,REST_LKP
11,Prsn_Airbag_ID,Indicates whether a person's airbag deployed d...,AIRBAG_LKP
12,Prsn_Helmet_ID,Indicates if a helmet was worn at the time of ...,HELMET_LKP
13,Crash_ID,Crash ID â€“ System-generated unique identifying...,NaN
14,Crash_Date,Crash Date - Date on which crash occurred,NaN
15,Crash_Time,Crash Time - Time crash occurred,NaN
16,Rpt_Rdwy_Sys_ID,Roadway System (road on which crash occurred),RWY_SYS_LKP
17,Rpt_Road_Part_ID,Roadway Part (road on which crash occurred),ROAD_PART_LKP
18,Toll_Road_Fl,Toll Road/Toll Lane,YES_NO_CHOICE_LKP
19,Crash_Speed_Limit,Speed Limit,NaN
20,Road_Constr_Zone_Fl,Construction Zone - Indicates whether the cras...,YES_NO_CHOICE_LKP
21,Road_Constr_Zone_Wrkr_Fl,Workers Present - Indicates whether workers we...,YES_NO_CHOICE_LKP
22,At_Intrsct_Fl,At Intersection - Indicates if the crash occur...,YES_NO_CHOICE_LKP
23,Wthr_Cond_ID,Weather Condition - The prevailing atmospheric...,WTHR_COND_LKP
24,Light_Cond_ID,Light Condition - The type and level of light ...,LIGHT_COND_LKP
25,Road_Algn_ID,Roadway Alignment - The geometric characterist...,ROAD_ALGN_LKP
26,Surf_Cond_ID,Surface Condition - The surface condition (wet...,SURF_COND_LKP
27,Traffic_Cntl_ID,Traffic Control - Type of traffic control at t...,TRAFFIC_CNTL_LKP
28,Latitude,Latitude map coordinate of the crash,NaN
29,Longitude,Longitude map coordinate of the crash,NaN
30,Day_of_Week,Day of Week - The day of the week that the cra...,NaN
31,Crash_ID,Crash ID â€“ System-generated unique identifying...,NaN
32,Unit_Nbr,Unit number entered on crash report for a unit...,NaN
33,Unit_Desc_ID,Unit Description - Describes the type of unit,VEH_UNIT_DESC_LKP

In [31]:
link_sheet.to_csv('Chosen features.csv',index=False)

In [32]:
# Drop na features
link_sheet.dropna(inplace=True)
# Drop the yes-no choice
link_sheet=link_sheet[link_sheet['Data Values with Valid Years if Applicable']!='YES_NO_CHOICE_LKP']
link_sheet.reset_index(drop=True, inplace=True)
link_sheet

,Column Header,Description,Data Values with Valid Years if Applicable
0,Prsn_Type_ID,Person Type,PRSN_TYPE_LKP
1,Prsn_Occpnt_Pos_ID,"The physical location of an occupant in, on, o...",OCCPNT_POS_LKP
2,Prsn_Injry_Sev_ID,Severity of injury to the occupant,INJRY_SEV_LKP
3,Prsn_Ethnicity_ID,Ethnicity of person involved in the crash,DRVR_ETHNCTY_LKP
4,Prsn_Gndr_ID,Gender of person involved in the crash,GNDR_LKP
5,Prsn_Ejct_ID,The extent to which the person's body was expe...,EJCT_LKP
6,Prsn_Rest_ID,The type of restraint used by each occupant,REST_LKP
7,Prsn_Airbag_ID,Indicates whether a person's airbag deployed d...,AIRBAG_LKP
8,Prsn_Helmet_ID,Indicates if a helmet was worn at the time of ...,HELMET_LKP
9,Rpt_Rdwy_Sys_ID,Roadway System (road on which crash occurred),RWY_SYS_LKP
10,Rpt_Road_Part_ID,Roadway Part (road on which crash occurred),ROAD_PART_LKP
11,Wthr_Cond_ID,Weather Condition - The prevailing atmospheric...,WTHR_COND_LKP
12,Light_Cond_ID,Light Condition - The type and level of light ...,LIGHT_COND_LKP
13,Road_Algn_ID,Roadway Alignment - The geometric characterist...,ROAD_ALGN_LKP
14,Surf_Cond_ID,Surface Condition - The surface condition (wet...,SURF_COND_LKP
15,Traffic_Cntl_ID,Traffic Control - Type of traffic control at t...,TRAFFIC_CNTL_LKP
16,Unit_Desc_ID,Unit Description - Describes the type of unit,VEH_UNIT_DESC_LKP

## Map the categorical features

In [33]:
#Features need mapping
for i in link_sheet.index:
    print(i/len(link_sheet)*100)
    feat=link_sheet['Column Header'][i]
    sfeat=link_sheet.iloc[i,2]
    print(feat)
    df_utype=pd.read_excel(xls,sheet_name=sfeat)
    df_utype.set_index(df_utype.columns[0],inplace=True)
    df_utype=df_utype.iloc[:,0]
    #remove duplicated index
    df_utype=df_utype[~df_utype.index.duplicated(keep='first')]
    #print(df_utype)
    df_final[feat]=df_final[feat].map(df_utype)
df_final.head()

0.0
Prsn_Type_ID
5.88235294117647
Prsn_Occpnt_Pos_ID
11.76470588235294
Prsn_Injry_Sev_ID
17.647058823529413
Prsn_Ethnicity_ID
23.52941176470588
Prsn_Gndr_ID
29.411764705882355
Prsn_Ejct_ID
35.294117647058826
Prsn_Rest_ID
41.17647058823529
Prsn_Airbag_ID
47.05882352941176
Prsn_Helmet_ID
52.94117647058824
Rpt_Rdwy_Sys_ID
58.82352941176471
Rpt_Road_Part_ID
64.70588235294117
Wthr_Cond_ID
70.58823529411765
Light_Cond_ID
76.47058823529412
Road_Algn_ID
82.35294117647058
Surf_Cond_ID
88.23529411764706
Traffic_Cntl_ID
94.11764705882352
Unit_Desc_ID

,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,...,Road_Constr_Zone_Wrkr_Fl,At_Intrsct_Fl,Wthr_Cond_ID,Light_Cond_ID,Road_Algn_ID,Surf_Cond_ID,Traffic_Cntl_ID,Latitude,Longitude,Unit_Desc_ID
0,15657177,1,1,DRIVER,FRONT LEFT,UNKNOWN,16.0,HISPANIC,MALE,NO,...,N,N,CLEAR,"DARK, LIGHTED","CURVE, LEVEL",DRY,NONE,32.280231,-97.746616,MOTOR VEHICLE
1,16473665,1,1,DRIVER,FRONT LEFT,NOT INJURED,48.0,WHITE,MALE,NO,...,N,Y,CLEAR,DAYLIGHT,"STRAIGHT, HILLCREST",DRY,SIGNAL LIGHT,30.660685,-93.893906,MOTOR VEHICLE
2,16473665,2,1,DRIVER,FRONT LEFT,NON-INCAPACITATING INJURY,58.0,WHITE,FEMALE,NO,...,N,Y,CLEAR,DAYLIGHT,"STRAIGHT, HILLCREST",DRY,SIGNAL LIGHT,30.660685,-93.893906,MOTOR VEHICLE
3,16871051,1,1,DRIVER,FRONT LEFT,NOT INJURED,68.0,WHITE,MALE,NO,...,N,N,CLEAR,DAYLIGHT,"STRAIGHT, LEVEL",DRY,MARKED LANES,33.203920,-96.596654,MOTOR VEHICLE
4,16871051,3,1,DRIVER,FRONT LEFT,NOT INJURED,67.0,WHITE,FEMALE,NO,...,N,N,CLEAR,DAYLIGHT,"STRAIGHT, LEVEL",DRY,MARKED LANES,33.203920,-96.596654,MOTOR VEHICLE

In [34]:
df_final.shape

(495429, 31)

In [35]:
compression_opts = dict(method='zip',
                        archive_name='Mapped combined data.csv')  
df_final.to_csv('Mapped combined data.zip', index=False,
          compression=compression_opts)