# Import dataset
---

In [12]:
# Import packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [1]:
from io import StringIO
from io import BytesIO
from zipfile import ZipFile
import urllib.request

## Function to obtain data set from zip link

In [10]:
def zip2df(link):
    # Open the url link
    url = urllib.request.urlopen(link)
    
    # Open as zip file
    with ZipFile(BytesIO(url.read())) as my_zip_file:
        for contained_file in my_zip_file.namelist():
            fzip=my_zip_file.open(contained_file)
            print(contained_file)
            data=fzip.read()
    # Convert bytes object to string object
    s=str(data,'utf-8')
    data = StringIO(s) 
    # convert it to pandas DataFrame as normal csv file
    df=pd.read_csv(data)
    return df

## Crash data

In [13]:
link_crash='https://github.com/duonghung86/Fatality-crashes/raw/master/Data/extract_2018_20191217230653_crash_20190601-20191130Texas.zip'
df_crash=zip2df(link_crash)
df_crash.tail()

extract_2018_20191217230653_crash_20190601-20191130Texas.csv

C:\Anaconda\envs\tf\lib\site-packages\IPython\core\interactiveshell.py:3254: DtypeWarning: Columns (20,35,44,46,82,86,90,93,156,157) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative
324112,17460951,N,N,N,N,N,N,N,11/28/2019,12:48 PM,...,0,0,1,0,0,0,NaN,1.0,8.0,NaN
324113,17460958,N,N,N,N,N,N,N,11/29/2019,02:57 AM,...,0,0,1,0,0,0,NaN,NaN,NaN,NaN
324114,17460970,N,N,N,N,N,N,N,11/29/2019,11:13 AM,...,0,0,1,0,0,0,NaN,485.0,321.0,NaN
324115,17461030,N,N,N,N,N,N,N,11/25/2019,11:06 AM,...,0,1,1,0,1,0,NaN,23.0,NaN,NaN
324116,17461292,N,N,N,N,N,N,N,09/03/2019,04:15 PM,...,0,0,2,0,0,0,NaN,NaN,NaN,NaN

## Person data

In [14]:
link_person='https://github.com/duonghung86/Fatality-crashes/raw/master/Data/extract_2018_20191217230653_primaryperson_20190601-20191130Texas.zip'
df_person=zip2df(link_person)
df_person.tail()

extract_2018_20191217230653_primaryperson_20190601-20191130Texas.csv

,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Name_Honorific,Prsn_Last_Name,Prsn_First_Name,Prsn_Mid_Name,Prsn_Name_Sfx,...,Drvr_Lic_Cls_ID,Drvr_DOB,Drvr_Street_Nbr,Drvr_Street_Pfx,Drvr_Street_Name,Drvr_Street_Sfx,Drvr_Apt_Nbr,Drvr_City_Name,Drvr_State_ID,Drvr_Zip
597978,17460970,1,1,1,1,NaN,MASSEY,WILLIAM,DOYLE,NaN,...,1.0,12/02/1950,817,N,PARK,AVE,NaN,KARNES CITY,43.0,78118
597979,17461030,1,1,1,1,NaN,MATTHYS,JASON,DONALD,NaN,...,3.0,10/01/1975,1055,W,FM 2625,NaN,NaN,MARSHALL,43.0,75672
597980,17461030,2,1,1,1,NaN,BOWSER,SHERRYE,ANN,NaN,...,3.0,11/24/1962,206,W,BROADWAY,ST,NaN,JEFFERSON,43.0,75657
597981,17461292,1,1,1,1,NaN,REED,HALEIGH,MACLAY,NaN,...,3.0,11/26/2002,869,NaN,PORTERVILLE,RD,NaN,HUNTINGTON,43.0,NaN
597982,17461292,2,1,1,1,NaN,TURNER,LANCE,MATTHEW,NaN,...,3.0,06/16/2003,8930,E,STATE HIGHWAY 103,NaN,NaN,LUFKIN,43.0,NaN

## Unit data

In [15]:
link_unit='https://github.com/duonghung86/Fatality-crashes/raw/master/Data/extract_2018_20191217230653_unit_20190601-20191130Texas.zip'
df_unit=zip2df(link_unit)
df_unit.tail()

extract_2018_20191217230653_unit_20190601-20191130Texas.csv

C:\Anaconda\envs\tf\lib\site-packages\IPython\core\interactiveshell.py:3254: DtypeWarning: Columns (57) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Crash_ID,Unit_Nbr,Unit_Desc_ID,Veh_Parked_Fl,Veh_HNR_Fl,Veh_Lic_State_ID,Veh_Lic_Plate_Nbr,VIN,Veh_Mod_Year,Veh_Color_ID,...,Tot_Injry_Cnt,Death_Cnt,Cmv_Disabling_Damage_Fl,Cmv_Bus_Type_ID,Trlr_GVWR,Trlr_RGVW,Trlr_Type_ID,Trlr_Disabling_Dmag_ID,Cmv_Intermodal_Container_Permit_Fl,CMV_Actual_Gross_Weight
654537,17460970,1,1,N,N,43.0,MDD3540,1FTEW1CPXKKD89353,2019.0,99.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654538,17461030,1,1,N,N,43.0,MKH5765,1G2ZJ57B894263596,2009.0,9.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654539,17461030,2,1,N,N,43.0,HDZ4147,5YFBU4EE8DP143573,2013.0,2.0,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654540,17461292,1,1,N,N,43.0,FSG1989,2GNALBEK1C6316947,2012.0,18.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654541,17461292,2,1,N,N,43.0,AU70090,2GCEK19T641183157,2004.0,18.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Features filtering

## Person data

In [16]:
df_person.shape

(597983, 49)

In [17]:
# Percentage of missing values for each feature
mvr=df_person.isna().sum()/len(df_person.Crash_ID)
valid_feat=mvr[mvr<0.2].index
print(len(valid_feat))
valid_feat

36

Index(['Crash_ID', 'Unit_Nbr', 'Prsn_Nbr', 'Prsn_Type_ID',
       'Prsn_Occpnt_Pos_ID', 'Prsn_Last_Name', 'Prsn_First_Name',
       'Prsn_Injry_Sev_ID', 'Prsn_Age', 'Prsn_Ethnicity_ID', 'Prsn_Gndr_ID',
       'Prsn_Ejct_ID', 'Prsn_Rest_ID', 'Prsn_Airbag_ID', 'Prsn_Helmet_ID',
       'Prsn_Sol_Fl', 'Prsn_Alc_Spec_Type_ID', 'Prsn_Drg_Spec_Type_ID',
       'Prsn_Drg_Rslt_ID', 'Drvr_Drg_Cat_1_ID', 'Sus_Serious_Injry_Cnt',
       'Nonincap_Injry_Cnt', 'Poss_Injry_Cnt', 'Non_Injry_Cnt',
       'Unkn_Injry_Cnt', 'Tot_Injry_Cnt', 'Death_Cnt', 'Drvr_Lic_Type_ID',
       'Drvr_Lic_State_ID', 'Drvr_Lic_Number', 'Drvr_Lic_Cls_ID', 'Drvr_DOB',
       'Drvr_Street_Name', 'Drvr_City_Name', 'Drvr_State_ID', 'Drvr_Zip'],
      dtype='object')

In [18]:
df_person=df_person[valid_feat].copy()
df_person.head()

,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Last_Name,Prsn_First_Name,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,...,Death_Cnt,Drvr_Lic_Type_ID,Drvr_Lic_State_ID,Drvr_Lic_Number,Drvr_Lic_Cls_ID,Drvr_DOB,Drvr_Street_Name,Drvr_City_Name,Drvr_State_ID,Drvr_Zip
0,15657177,1,1,1,1,RAMOS,ISAAC,0,16.0,2.0,...,0,9.0,43.0,13174627,3.0,NaN,FM 56,GLEN ROSE TX,43.0,76043
1,16473665,1,1,1,1,ADAMS,CHARLES,5,48.0,1.0,...,0,9.0,43.0,14022783,7.0,07/07/1970,Cemetary,Silsbee,43.0,77656
2,16473665,2,1,1,1,JOHNNIE,PAMELA,2,58.0,1.0,...,0,9.0,43.0,09872112,3.0,06/06/1961,McMillian,Kirbyville,43.0,75956
3,16871051,1,1,1,1,MILLER,JACKIE,5,68.0,1.0,...,0,9.0,43.0,01225977,1.0,09/22/1950,6168 CR 988,COLLIN COUNTY,43.0,75071
4,16871051,3,1,1,1,FEDERLE,LINDA,5,67.0,1.0,...,0,9.0,43.0,09215492,3.0,09/27/1951,1261 ALTO VISTA,FAIRVIEW,43.0,75069

In [19]:
keeps=['Crash_ID', 'Unit_Nbr', 'Prsn_Nbr', 'Prsn_Type_ID',
       'Prsn_Occpnt_Pos_ID', 
       'Prsn_Injry_Sev_ID', 'Prsn_Age', 'Prsn_Ethnicity_ID', 'Prsn_Gndr_ID',
       'Prsn_Ejct_ID', 'Prsn_Rest_ID', 'Prsn_Airbag_ID', 'Prsn_Helmet_ID',
       'Prsn_Drg_Rslt_ID']
df_person=df_person[keeps].copy()
df_person.head()

,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,Prsn_Rest_ID,Prsn_Airbag_ID,Prsn_Helmet_ID,Prsn_Drg_Rslt_ID
0,15657177,1,1,1,1,0,16.0,2.0,1,1,1,8,97,97
1,16473665,1,1,1,1,5,48.0,1.0,1,1,1,2,97,97
2,16473665,2,1,1,1,2,58.0,1.0,2,1,1,3,97,1
3,16871051,1,1,1,1,5,68.0,1.0,1,1,1,2,97,97
4,16871051,3,1,1,1,5,67.0,1.0,2,1,1,4,97,97

In [20]:
df_final=df_person.copy()

## Crash data

In [21]:
df_crash.shape

(324117, 173)

In [22]:
# Percentage of missing values for each feature
mvr=df_crash.isna().sum()/len(df_crash.Crash_ID)
valid_feat=mvr[mvr<0.2].index
print(len(valid_feat))
valid_feat

74

Index(['Crash_ID', 'Crash_Fatal_Fl', 'Cmv_Involv_Fl', 'Schl_Bus_Fl',
       'Rr_Relat_Fl', 'Medical_Advisory_Fl', 'Amend_Supp_Fl',
       'Active_School_Zone_Fl', 'Crash_Date', 'Crash_Time', 'Case_ID',
       'Rpt_CRIS_Cnty_ID', 'Rpt_City_ID', 'Rpt_Outside_City_Limit_Fl',
       'Thousand_Damage_Fl', 'Rpt_Rdwy_Sys_ID', 'Rpt_Road_Part_ID',
       'Rpt_Block_Num', 'Rpt_Street_Name', 'Private_Dr_Fl', 'Toll_Road_Fl',
       'Crash_Speed_Limit', 'Road_Constr_Zone_Fl', 'Road_Constr_Zone_Wrkr_Fl',
       'At_Intrsct_Fl', 'Rpt_Sec_Rdwy_Sys_ID', 'Rpt_Sec_Road_Part_ID',
       'Rpt_Sec_Street_Name', 'Wthr_Cond_ID', 'Light_Cond_ID', 'Entr_Road_ID',
       'Road_Algn_ID', 'Surf_Cond_ID', 'Traffic_Cntl_ID',
       'Investigat_Notify_Time', 'Investigat_Notify_Meth',
       'Investigat_Arrv_Time', 'Report_Date', 'Investigat_Comp_Fl',
       'Investigator_Name', 'ID_Number', 'ORI_Number', 'Investigat_Agency_ID',
       'Bridge_Detail_ID', 'Harm_Evnt_ID', 'Intrsct_Relat_ID', 'FHE_Collsn_ID',
       'Obj_Struck_ID', 'Othr_Factr_ID', 'Road_Part_Adj_ID', 'Road_Cls_ID',
       'Road_Relat_ID', 'Phys_Featr_1_ID', 'Phys_Featr_2_ID', 'Cnty_ID',
       'City_ID', 'Latitude', 'Longitude', 'Street_Name', 'Txdot_Rptable_Fl',
       'Onsys_Fl', 'Rural_Fl', 'Crash_Sev_ID', 'Pop_Group_ID', 'Located_Fl',
       'Day_of_Week', 'Sus_Serious_Injry_Cnt', 'Nonincap_Injry_Cnt',
       'Poss_Injry_Cnt', 'Non_Injry_Cnt', 'Unkn_Injry_Cnt', 'Tot_Injry_Cnt',
       'Death_Cnt', 'Investigat_Service_ID'],
      dtype='object')

In [23]:
keepsc=['Crash_ID', 'Crash_Date', 'Crash_Time','Day_of_Week', 
       'Rpt_Rdwy_Sys_ID', 'Rpt_Road_Part_ID', 'Toll_Road_Fl', 'Crash_Speed_Limit',
       'Road_Constr_Zone_Fl', 'Road_Constr_Zone_Wrkr_Fl', 'At_Intrsct_Fl',
       'Wthr_Cond_ID', 'Light_Cond_ID', 'Entr_Road_ID',
       'Road_Algn_ID', 'Surf_Cond_ID', 'Traffic_Cntl_ID','Latitude', 'Longitude'
       ]

In [24]:
df_crash=df_crash[keepsc].copy()
df_crash.head()

,Crash_ID,Crash_Date,Crash_Time,Day_of_Week,Rpt_Rdwy_Sys_ID,Rpt_Road_Part_ID,Toll_Road_Fl,Crash_Speed_Limit,Road_Constr_Zone_Fl,Road_Constr_Zone_Wrkr_Fl,At_Intrsct_Fl,Wthr_Cond_ID,Light_Cond_ID,Entr_Road_ID,Road_Algn_ID,Surf_Cond_ID,Traffic_Cntl_ID,Latitude,Longitude
0,15657177,06/02/2019,12:58 PM,SUN,15,1,N,40,N,N,N,11,4,0,4,1,1,32.280231,-97.746616
1,16473665,06/15/2019,11:00 AM,SAT,2,1,N,35,N,N,Y,11,1,4,3,1,5,30.660685,-93.893906
2,16871051,06/12/2019,09:53 AM,WED,2,1,N,45,N,N,N,11,1,0,1,1,20,33.203920,-96.596654
3,17055798,06/04/2019,03:07 PM,TUE,19,1,N,35,N,N,N,12,1,2,2,1,10,29.792394,-95.746539
4,17099571,06/01/2019,01:00 AM,SAT,19,1,N,30,N,N,N,11,3,0,1,1,11,32.797549,-96.699878

In [25]:
df_final=df_final.merge(df_crash,left_on='Crash_ID', right_on='Crash_ID')
df_final.tail()

,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,...,Road_Constr_Zone_Wrkr_Fl,At_Intrsct_Fl,Wthr_Cond_ID,Light_Cond_ID,Entr_Road_ID,Road_Algn_ID,Surf_Cond_ID,Traffic_Cntl_ID,Latitude,Longitude
597978,17460970,1,1,1,1,5,68.0,1.0,1,1,...,N,N,11,6,0,1,0,1,28.954878,-97.987513
597979,17461030,1,1,1,1,5,44.0,1.0,1,1,...,N,N,11,1,98,1,1,8,32.756880,-94.354907
597980,17461030,2,1,1,1,3,57.0,3.0,2,1,...,N,N,11,1,98,1,1,8,32.756880,-94.354907
597981,17461292,1,1,1,1,5,16.0,1.0,2,1,...,N,Y,11,1,0,1,1,8,31.279209,-94.579816
597982,17461292,2,1,1,1,5,16.0,1.0,1,1,...,N,Y,11,1,0,1,1,8,31.279209,-94.579816

## Unit data

In [27]:
df_unit.shape

(654542, 100)

In [28]:
# Percentage of missing values for each feature
mvr=df_unit.isna().sum()/len(df_unit.Crash_ID)
valid_feat=mvr[mvr<0.01].index
print(len(valid_feat))
valid_feat

12

Index(['Crash_ID', 'Unit_Nbr', 'Unit_Desc_ID', 'Veh_Trvl_Dir_ID',
       'First_Harm_Evt_Inv_ID', 'Sus_Serious_Injry_Cnt', 'Nonincap_Injry_Cnt',
       'Poss_Injry_Cnt', 'Non_Injry_Cnt', 'Unkn_Injry_Cnt', 'Tot_Injry_Cnt',
       'Death_Cnt'],
      dtype='object')

In [29]:
keepsu=['Crash_ID', 'Unit_Nbr', 'Unit_Desc_ID']

In [30]:
df_unit=df_unit[keepsu].copy()
df_unit.head()

   Crash_ID  Unit_Nbr  Unit_Desc_ID
0  15657177         1             1
1  16473665         1             1
2  16473665         2             1
3  16871051         1             1
4  16871051         2             6

In [31]:
df_final=df_final.merge(df_unit,left_on=['Crash_ID', 'Unit_Nbr'], right_on=['Crash_ID', 'Unit_Nbr'])
print(df_final.shape)
df_final.tail()

(597983, 33)

,Crash_ID,Unit_Nbr,Prsn_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,...,At_Intrsct_Fl,Wthr_Cond_ID,Light_Cond_ID,Entr_Road_ID,Road_Algn_ID,Surf_Cond_ID,Traffic_Cntl_ID,Latitude,Longitude,Unit_Desc_ID
597978,17460970,1,1,1,1,5,68.0,1.0,1,1,...,N,11,6,0,1,0,1,28.954878,-97.987513,1
597979,17461030,1,1,1,1,5,44.0,1.0,1,1,...,N,11,1,98,1,1,8,32.756880,-94.354907,1
597980,17461030,2,1,1,1,3,57.0,3.0,2,1,...,N,11,1,98,1,1,8,32.756880,-94.354907,1
597981,17461292,1,1,1,1,5,16.0,1.0,2,1,...,Y,11,1,0,1,1,8,31.279209,-94.579816,1
597982,17461292,2,1,1,1,5,16.0,1.0,1,1,...,Y,11,1,0,1,1,8,31.279209,-94.579816,1

In [32]:
df_final.columns

Index(['Crash_ID', 'Unit_Nbr', 'Prsn_Nbr', 'Prsn_Type_ID',
       'Prsn_Occpnt_Pos_ID', 'Prsn_Injry_Sev_ID', 'Prsn_Age',
       'Prsn_Ethnicity_ID', 'Prsn_Gndr_ID', 'Prsn_Ejct_ID', 'Prsn_Rest_ID',
       'Prsn_Airbag_ID', 'Prsn_Helmet_ID', 'Prsn_Drg_Rslt_ID', 'Crash_Date',
       'Crash_Time', 'Day_of_Week', 'Rpt_Rdwy_Sys_ID', 'Rpt_Road_Part_ID',
       'Toll_Road_Fl', 'Crash_Speed_Limit', 'Road_Constr_Zone_Fl',
       'Road_Constr_Zone_Wrkr_Fl', 'At_Intrsct_Fl', 'Wthr_Cond_ID',
       'Light_Cond_ID', 'Entr_Road_ID', 'Road_Algn_ID', 'Surf_Cond_ID',
       'Traffic_Cntl_ID', 'Latitude', 'Longitude', 'Unit_Desc_ID'],
      dtype='object')

In [33]:
df_final.dropna(inplace=True)

# Mapping the data

In [95]:
# Link between feature name and its coding sheet
link_c=pd.read_excel("Term.xlsx",sheet_name='Crash File Specification',header=6,usecols=['Column Header','Description','Data Values with Valid Years if Applicable'])
link_c.head()